<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href={% static 'assets/css.css' %}>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            Email <input name="email" id="email" placeholder="Email Address" />
        </div>
        <div>
            Password <input name="password" id="password" placeholder="Password" type="Password"  />
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>